.card_medicamento {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
}

.card_medicamento img {
    width: 100px;
    height: 80px;
    object-fit: fill;
}

.card_medicamento:hover {
    transform: scale(1.05);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.card_medicamento a {
    text-decoration: none;
    color: var(--second-color);
    font-size: 30px;
}


.slide {
    animation: slide 1s infinite;
}

@keyframes slide {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-10px);
    }

    100% {
        transform: translateY(0);
    }
}