footer {
    background-color: var(--bg-neutro);
    position: fixed;
    color: white;
    text-align: center;
    padding: 18px 0;
    bottom: 0;
    width: 100%;
    z-index: 100;
}

.footer-bottom {
    color: white;
    text-align: center;
    padding: 10px 0;
    width: 100%;
    height: 30px;
    z-index: 100;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.licensa{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 280px;
}

.social {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 230px;
}

.social .facebook{
    color: #3b5998;
}

.social .instagram{
    color: #e4405f;
}

.social .twitter{
    color: #00acee;
}

.creditos{
    display: flex;
    justify-content: center;
    align-items: center;
}
p{
    margin: 0;
}